# Eine wirklich ganz kleine Einführung in Python :)

Falls ich vergesse, das zu sagen: Ich kann euch hier nicht programmieren beibringen. Ich würde mir aber wünschen, dass ihr mit einem Gefühl herauskommt, dass es nicht so schwer ist...

Wir arbeiten mit Python 3 in Jupyter Notebook. Notebooks erlauben, "live" zu programmieren und die Ergebnisse sofort im Browser zu sehen.

Um den Code in einer Zelle auszuführen, drückt man STEUERUNG + ENTER.

Um eine neue Zelle zu machen drückt man ESCAPE, danach B (für below) oder A (für above).

In dem Code weisen wir der Variable a den Wert 5 zu. Danach lassen wir a auf dem Bildschirm ausgeben. Wir können auch Text auf dem Bildschirm ausgeben, wenn wir ihn in Anführungszeichen setzen.

In [1]:
a = 5
print('Der Wert von a ist:')
print(a)

Der Wert von a ist:
5

In [2]:
# Das ist ein Kommentar
# Zeilen, die kommentiert sind, werden nicht ausgeführt.
# So kann man seinen Code erklären

In [3]:
b = 3
# wenn wir Variablen Werte zugewiesen haben, können wir damit genauso arbeiten, wie auf Papier.
c = a + b
d = a / b
# wir können {} verwenden, um Werte auszugeben. Damit "formattiert" man den String. Hier geben wir den Wert von
# c und d nacheinander aus. Was in der .format Funktion drin steht, wird in die geschweiften Klammern eingesetzt,
# in der Reihenfolge, in der es kommt. Versucht mal, c und d durch a und b zu ersetzen, was passiert?
print('c = {} und d = {}'.format(c, d))

c = 8 und d = 1.6666666666666667

In [4]:
# Man beachte, dass a und b ganze Zahlen (integer) waren, aber d durch die Division eine Kommazahl (float) ist!

In [5]:
# Python ist eine Pogrammiersprache und Jupyter eine Programmieroberfläche.
# Python enthält sehr viele Funktionen, die man benutzen muss. Diese sind in Paketen zusammegefasst. Diese Pakete
# kann (und muss) man laden, wenn man Funktionen benutzen muss.
# Wenn man auf Reisen geht, nimmt man auch nicht den gesamten Kleiderschrank mit, sondern trifft eine Auswahl von
# Kleidung, die man für die Situation brauchen wird. So bleibt der Koffer leicht!

# Numpy, um Mathe zu machen
import numpy as np

In [6]:
# Jetzt können wir mathematische Funktionen aus Numpy benutzen! Diese bekommen immer den Prefix np.
d = np.sqrt(c)
print('Ups, wir haben d überschrieben! Jetzt ist d = {}.'.format(d))

Ups, wir haben d überschrieben! Jetzt ist d = 2.8284271247461903.

In [7]:
# Wenn man den Funktionsnamen nicht raten kann, hilft Gooogle weiter.
# Übung: was ist der 2-er Logarithmus von Wurzel c?
# (Man findet online verschiedene Lösungen, nehmt doch bitte die mit Numpy!)

In [8]:
# Wir werden mit Matrizen arbeiten. Eine Matrix ist nichts anderes als ne Liste von Zeilen. Diese werden in numpy
# als ein sogenanntes array gespeichert.
# Wer schon mal mit Matlab gearbeitet hat, kann sich entspannen, denn numpy funktioniert fast genauso.

# Hier haben wir mal die Obst-Werte als array abgespeichert
# in jeder Spalte steht eine der Eigenschaften: Obsttyp, Form, Farbe, Gewicht
# In jeder Zeile ist ein Exemplar

obst = np.array([[0, 200, 0, 0], 
                 [1, 220, 2, 1], 
                 [1, 180, 2, 1], 
                 [0, 200, 1, 0], 
                 [0, 210, 0, 0]])

print(obst)

# Bonus: Wie transponiert man diese Matrix?

[[  0 200   0   0]
 [  1 220   2   1]
 [  1 180   2   1]
 [  0 200   1   0]
 [  0 210   0   0]]

In [9]:
# Die Zeilen- und Spaltenbeschriftungen sind wichtig, weshalb wir die gerne mit speichern würden. Data Scientists
# arbeiten viel mit einem speziellen Datenformat: DataFrame, das im Paket pandas enthalten ist.

import pandas as pd
obst = pd.DataFrame([[0, 200, 0, 0], 
                     [1, 220, 2, 1], 
                     [1, 180, 2, 1], 
                     [0, 200, 1, 0], 
                     [0, 210, 0, 0]],
                   columns=['type', 'weight', 'color', 'form'])
print(obst)

# Damit können wir (fast) genauso arbeiten, wie mit einer Matrix, aber wir vergessen nie, was was ist!

   type  weight  color  form
0     0     200      0     0
1     1     220      2     1
2     1     180      2     1
3     0     200      1     0
4     0     210      0     0

In [10]:
# wir können aber auch ein paar nette Funktionen benutzen, die uns das Leben einfacher machen
# Man muss auch nicht immer print benutzen! Ein Vorteil von Jupyter ist, dass die letzte Zeile immer automatisch
# am Bildschirm ausgegeben wird. Dann ist das Format meistens etwas besser.

obst.describe()

           type      weight  color      form
count  5.000000    5.000000    5.0  5.000000
mean   0.400000  202.000000    1.0  0.400000
std    0.547723   14.832397    1.0  0.547723
min    0.000000  180.000000    0.0  0.000000
25%    0.000000  200.000000    0.0  0.000000
50%    0.000000  200.000000    1.0  0.000000
75%    1.000000  210.000000    2.0  1.000000
max    1.000000  220.000000    2.0  1.000000

In [11]:
obst.sort_values(by='weight', ascending=False)

   type  weight  color  form
1     1     220      2     1
4     0     210      0     0
0     0     200      0     0
3     0     200      1     0
2     1     180      2     1

In [12]:
#Eine Spalte auswählen
obst['type']

0    0
1    1
2    1
3    0
4    0
Name: type, dtype: int64

In [13]:
obst['weight'].sum()

1010