# Filme in Cluster zusammenfassen

In [2]:
# wie zuvor importieren wir Pakete, die wir auf jeden Fall brauchen werden

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [7]:
# Datensatz laden
genre_data = pd.read_csv('workshop_movie_genres.csv')
genre_data = genre_data.fillna(0)
genre_data.head()

,title,movie_id,year,imdb,rotten_tomatoes,action,thriller,adventure,scifi_fantasy,crime,...,black_comedy,superhero,romance,psychological,mystery,martial_arts,comedy,western,teen,war
0,Mad Max: Fury Road,1,2015,8.1,97,1.0,1.0,1.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Fast and Furious 7,2,2015,7.2,80,1.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Fight Club,3,1999,8.8,79,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,The Dark Knight,4,2008,9.0,94,1.0,1.0,1.0,0.0,1.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Vanilla Sky,5,2001,6.9,42,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [8]:
genre_data.describe()

,movie_id,year,imdb,rotten_tomatoes,action,thriller,adventure,scifi_fantasy,crime,drama,black_comedy,superhero,romance,psychological,mystery,martial_arts,comedy,western,teen,war
count,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.000000,25.00,25.00,25.000000,25.0,25.00,25.000000,25.000000
mean,13.000000,2001.440000,7.764000,81.120000,0.520000,0.200000,0.440000,0.320000,0.160000,0.440000,0.160000,0.160000,0.440000,0.04,0.04,0.080000,0.4,0.04,0.120000,0.080000
std,7.359801,11.496666,0.882175,13.602451,0.509902,0.408248,0.506623,0.476095,0.374166,0.506623,0.374166,0.374166,0.506623,0.20,0.20,0.276887,0.5,0.20,0.331662,0.276887
min,1.000000,1976.000000,5.200000,42.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.00,0.000000,0.0,0.00,0.000000,0.000000
25%,7.000000,1997.000000,7.200000,76.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.00,0.000000,0.0,0.00,0.000000,0.000000
50%,13.000000,2000.000000,8.100000,83.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00,0.00,0.000000,0.0,0.00,0.000000,0.000000
75%,19.000000,2012.000000,8.400000,92.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.00,0.00,0.000000,1.0,0.00,0.000000,0.000000
max,25.000000,2017.000000,9.000000,97.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00,1.00,1.000000,1.0,1.00,1.000000,1.000000

In [9]:
# Liste von allen Genrenamen aus den Spaltennamen erzeugen
genres = [i for i in genre_data.columns if i not in ['title', 'movie_id', 'year', 'imdb', 'rotten_tomatoes']]
X = genre_data[genres]

In [12]:
# Auch Kmeans ist in Sklearn enthalten!
from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters=2)
kmeans.fit(X)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=2, n_init=10, n_jobs=1, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [13]:
# Wir schauen uns an, welche Filme zu einem Cluster zusammgefasst wurden
# die Clusterlabels sind in unserem kmeans Modell gespeichert
labels = kmeans.labels_
# die nächste Zeile fügt dem DataFrame eine neue Spalte 'cluster' hinzu, deren Werte die Labels sind
genre_data['cluster'] = labels
for i in range(2):
    print('Cluster {}:'.format(i))
    print(genre_data[genre_data.cluster==i].title)
    print()

Cluster 0:
0          Mad Max: Fury Road
1          Fast and Furious 7
3             The Dark Knight
4                 Vanilla Sky
5        Star Wars Episode IV
6                       Rocky
8            Django Unchained
10         Back to the Future
14        Saving Private Ryan
15                  Kill Bill
16    Guardians of the Galaxy
18                   Deadpool
22               Wonder Woman
24                 The Matrix
Name: title, dtype: object

Cluster 1:
2                      Fight Club
7                    Pretty Woman
9                   Almost Famous
11                       Clueless
12               The Big Lebowski
13       My Big Fat Greek Wedding
17                        Titanic
19    Ten Things I Hate About You
20          Bridget Jones's Diary
21                       Twilight
23                     La La Land
Name: title, dtype: object

In [14]:
# übung
# Wie ändert es sich, wenn wir 3, 4, 5 cluster nehmen? Was ist eine gute Zahl?
# Bonus: Wir müssen die Clusterzahl immer an zwei Stellen ändern. Kann man das effizienter machen?

# Was passiert, wenn wir den gleichen Algorithmus mit der gleichen Clusterzahl nochmal durchlaufen lassen? Warum?

In [15]:
# Wir speichern die Filmdaten zusammen mit dem Clusterlabel
# Dafür gibt es wieder eine Pandas-Funktion
genre_data.to_csv('filme_mit_cluster.csv')

In [16]:
# übung
# Wir könnten auch genauso gut Userdata clustern!
# Die Datei heißt 'workshop_user_ratings.csv'
# Viel Spaß!