# Filme in Cluster zusammenfassen

In [1]:
# wie zuvor importieren wir Pakete, die wir auf jeden Fall brauchen werden

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
# Datensatz laden
genre_data = pd.read_csv('workshop_movie_genres.csv')
genre_data = genre_data.fillna(0)
genre_data.head()

,title,year,imdb rating,rotten tomatoes rating,action,thriller,adventure,sci-fi or fantasy,crime,drama,black comedy,superhero,romance,psychological,mystery,martial arts,comedy,western,teen,war
0,Mad Max: Fury Road,2015,8.1,97,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,Fast and Furious 7,2015,7.2,80,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,Fight Club,1999,8.8,79,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,The Dark Knight,2008,9.0,94,1.0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,Vanilla Sky,2001,6.9,42,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
genre_data.describe()

,year,imdb rating,rotten tomatoes rating,action,thriller,adventure,sci-fi or fantasy,crime,drama,black comedy,superhero,romance,psychological,mystery,martial arts,comedy,western,teen,war
count,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000,24.000000
mean,2001.541667,7.725000,80.875000,0.500000,0.208333,0.458333,0.291667,0.166667,0.458333,0.166667,0.166667,0.458333,0.041667,0.041667,0.041667,0.416667,0.041667,0.125000,0.083333
std,11.732449,0.878858,13.838549,0.510754,0.414851,0.508977,0.464306,0.380693,0.508977,0.380693,0.380693,0.508977,0.204124,0.204124,0.204124,0.503610,0.204124,0.337832,0.282330
min,1976.000000,5.200000,42.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1996.750000,7.150000,76.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,2000.500000,8.050000,82.000000,0.500000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,2012.500000,8.250000,92.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000
max,2017.000000,9.000000,97.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [4]:
# Liste von allen Genrenamen aus den Spaltennamen erzeugen
genres = [i for i in genre_data.columns if i not in ['title', 'year', 'imdb rating', 'rotten tomatoes rating']]
X = genre_data[genres]

In [5]:
# Auch Kmeans ist in Sklearn enthalten!
from sklearn.cluster import KMeans
kmeans = KMeans(n_clusters=4)
kmeans.fit(X)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=4, n_init=10, n_jobs=1, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [6]:
# Wir schauen uns an, welche Filme zu einem Cluster zusammgefasst wurden
# die Clusterlabels sind in unserem kmeans Modell gespeichert
labels = kmeans.labels_
# die nächste Zeile fügt dem DataFrame eine neue Spalte 'cluster' hinzu, deren Werte die Labels sind
genre_data['cluster'] = labels
for i in range(4):
    print('Cluster {}:'.format(i))
    print(genre_data[genre_data.cluster==i].title)
    print()

Cluster 0:
7                    Pretty Woman
9                   Almost Famous
11                       Clueless
13       My Big Fat Greek Wedding
17                        Titanic
19    Ten Things I Hate About You
20          Bridget Jones's Diary
21                       Twilight
23                     La La Land
Name: title, dtype: object

Cluster 1:
0          Mad Max: Fury Road
4                 Vanilla Sky
5        Star Wars Episode IV
6                       Rocky
8            Django Unchained
10         Back to the Future
14        Saving Private Ryan
16    Guardians of the Galaxy
18                   Deadpool
22               Wonder Woman
Name: title, dtype: object

Cluster 2:
2           Fight Club
12    The Big Lebowski
Name: title, dtype: object

Cluster 3:
1     Fast and Furious 7
3        The Dark Knight
15             Kill Bill
Name: title, dtype: object

In [7]:
# übung
# Wie ändert es sich, wenn wir 3, 4, 5 cluster nehmen? Was ist eine gute Zahl?
# Bonus: Wir müssen die Clusterzahl immer an zwei Stellen ändern. Kann man das effizienter machen?

# Was passiert, wenn wir den gleichen Algorithmus mit der gleichen Clusterzahl nochmal durchlaufen lassen? Warum?
# Bonus: Wie könnten wir die Wahrscheinlichkeit bestimmen,

In [19]:
# Wir speichern die Filmdaten zusammen mit dem Clusterlabel
# Dafür gibt es wieder eine Pandas-Funktion
genre_data.to_csv('filme_mit_cluster.csv')

In [9]:
# übung
# Wir könnten auch genauso gut Userdata clustern!
# Die Datei heißt 'workshop_users.csv'
# Viel Spaß!