In [1]:
%matplotlib inline
%load_ext autoreload
%autoreload 2

In [2]:
import os
import sys
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('precision',2)

from sklearn.metrics.pairwise import cosine_similarity

In [3]:
data_path = '../ml-latest'
all_files = [i for i in os.listdir(data_path) if i.endswith('.csv')]
print(all_files)

['genome-scores.csv', 'movies_clean.csv', 'genome-tags.csv', 'tags.csv', 'links.csv', 'movies.csv', 'ratings.csv']

In [4]:
def get_data(fn):
    df = pd.read_csv(os.path.join(data_path, '{}.csv'.format(fn)))
    print('{} total: {} rows.'.format(fn, len(df)))
    return df

In [5]:
movies = get_data('movies_clean')
movies = movies[[i for i in movies.columns if i not in ['Unnamed: 0', 'index']]]

# movies = movies.loc[(movies.total_ratings >= 10000) & (movies.year >= 1990) & (movies.mean_rating >= 4)].reset_index()
movies = movies.loc[movies.total_ratings >= 10000].reset_index()

movies_clean total: 45843 rows.

In [6]:
n_movies = len(movies)
print('Dataset contains {} movies'.format(n_movies))

Dataset contains 636 movies

In [7]:
tags = [i for i in movies.columns if i not in ['Unnamed: 0', 'level_0', 'index', 'movieId', 'title', 'genres', 'year', 'total_ratings']]

In [8]:
#remove all tags that don't have a movie associated to them
for tag in tags:
    if movies[tag].sum() == 0:
        movies = movies.drop(tag, axis=1)

In [9]:
tags = [i for i in movies.columns if i not in ['Unnamed: 0', 'level_0', 'index', 'movieId', 'title', 'genres', 'year', 'total_ratings']]

In [10]:
movies.head()

,index,movieId,title,genres,year,Drama,Children,Fantasy,Crime,Sci-Fi,...,world politics,world war i,world war ii,writer's life,writers,writing,wuxia,wwii,zombie,zombies
0,0,1,toy story,[0 1 1 0 0 0 0 0 0 0 0 0 1 1 1 0 0 0 0 0],1995,0,1,1,0,0,...,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0
1,1,2,jumanji,[0 1 1 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0],1995,0,1,1,0,0,...,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0
2,2,3,grumpier old men,[0 0 0 0 0 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0],1995,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0
3,4,5,father of the bride part ii,[0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0],1995,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.19,0.0,0.0,0.0,0.0,0.0
4,5,6,heat,[0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 1 0],1995,0,0,0,1,0,...,0.0,0.0,0.0,0.0,0.00,0.0,0.0,0.0,0.0,0.0

## similartiy

In [11]:
movies.dropna(subset=tags, inplace=True)

In [12]:
from scipy import sparse
movies_sparse = sparse.csr_matrix(movies[tags].as_matrix())

In [13]:
# own cosine similarity method because sklearn dies

from sklearn.preprocessing import normalize
def cosine_similarities(m):
    m = m.T
    col_normed_m = normalize(m.tocsc(), axis=0)
    return col_normed_m.T * col_normed_m

similarities = cosine_similarities(movies_sparse)

In [14]:
# set diagonal to 0 since we don't want to return the movie itself
for i in range(similarities.shape[0]):
    similarities[i,i] = 0

In [15]:
movie_id_to_idx_lookup = dict(zip(movies.movieId.values, movies.index.values))
movie_idx_to_id_lookup = dict(zip(movies.index.values, movies.movieId.values))
movie_id_to_title_lookup = dict(zip(movies.movieId.values, movies.title.values))

In [23]:
def get_similarities_for_movie(movie_id):
    movie_idx = movie_id_to_idx_lookup[movie_id]
    row = similarities[movie_idx]
    similar_idx = row.argmax()
    similar_id = movie_idx_to_id_lookup[similar_idx]
    similar_score = row.max()
    print('For {} ({}, rated {:.2f}) we suggest {} ({}, rated {:.2f}) with similarity rating {:.2f}.'.format(movie_id_to_title_lookup[movie_id],
                                                                                 movie_id, movies.iloc[movie_idx].mean_rating,
                                                                                 movie_id_to_title_lookup[similar_id],
                                                                                 similar_id, movies.iloc[similar_idx].mean_rating,
                                                                                 similar_score))
    return similar_id, similar_score

In [17]:
def get_similarities_for_movie_title(title):
    movie_id = movies[movies.title==title].movieId.iloc[0]
    get_similarities_for_movie(movie_id)

In [26]:
get_similarities_for_movie_title('annie hall')

For annie hall (1230, rated 4.05) we suggest saving private ryan (2028, rated 4.05) with similarity rating 0.87.

In [31]:
[i for i in movies.title if 'schindler' in i]

["schindler's list"]

In [36]:
cosine_similarity(movies.iloc[118][tags].as_matrix(), movies.iloc[343][tags].as_matrix())

/usr/local/lib/python3.5/dist-packages/sklearn/utils/validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)
/usr/local/lib/python3.5/dist-packages/sklearn/utils/validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)

array([[0.63849069]])

In [37]:
cosine_similarity(movies.iloc[227][tags].as_matrix(), movies.iloc[343][tags].as_matrix())

/usr/local/lib/python3.5/dist-packages/sklearn/utils/validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)
/usr/local/lib/python3.5/dist-packages/sklearn/utils/validation.py:395: DeprecationWarning: Passing 1d arrays as data is deprecated in 0.17 and will raise ValueError in 0.19. Reshape your data either using X.reshape(-1, 1) if your data has a single feature or X.reshape(1, -1) if it contains a single sample.
  DeprecationWarning)

array([[0.87203722]])

In [33]:
movies[movies.title.isin(['annie hall', 'saving private ryan', "schindler's list"])].T

,118,227,343
index,523,1203,1945
movieId,527,1230,2028
title,schindler's list,annie hall,saving private ryan
genres,[1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0],[0 0 0 0 0 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0],[1 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0]
year,1993,1977,1998
Drama,1,0,1
Children,0,0,0
Fantasy,0,0,0
Crime,0,0,0
Sci-Fi,0,0,0
War,1,0,1
Musical,0,0,0
Romance,0,1,0
Film-Noir,0,0,0
Horror,0,0,0
IMAX,0,0,0
Comedy,0,1,0
Animation,0,0,0
Adventure,0,0,0
Western,0,0,0
Mystery,0,0,0
Thriller,0,0,0
Action,0,0,1
Documentary,0,0,0
mean_rating,4.3,4,4.1
total_ratings,6.8e+04,1.9e+04,5.1e+04
007,0,0,0
007 (series),0,0,0
18th century,0,0,0.41
1920s,0,0.2,0.26
...,...,...,...
waste of time,0,0,0
watch the credits,0,0,0
weapons,0.3,0.37,0.25
wedding,0,0,0
weed,0,0,0
weird,0.23,0.4,0.26
werewolf,0,0,0
werewolves,0,0,0
western,0,0,0
whimsical,0.19,0.23,0.24
wilderness,0,0.18,0
wine,0,0,0
wistful,0.19,0,0
witch,0,0,0
witches,0,0,0
witty,0.18,0.63,0.61
wizards,0,0,0
women,0.2,0,0
working class,0,0,0.47
workplace,0.38,0,0.21
world politics,0,0.29,0.7
world war i,0,0,0
world war ii,0,0,0
writer's life,0,0,0
writers,0.24,0.19,0.19
writing,0,0.18,0
wuxia,0,0,0
wwii,0,0,0
zombie,0,0,0
zombies,0,0,0