In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [26]:
# unsere bearbeiteten Datensätze
user_distances = pd.read_csv('user_distances.csv')
movie_genres = pd.read_csv('filme_mit_cluster.csv')
user_data = pd.read_csv('workshop_users.csv')

In [27]:
# fügen wir die cluster und die user ratings informationen zusammen
user_data = user_data.join(movie_genres.set_index('title')['cluster'], on='title', how='left')

In [28]:
user_id = 'user10'
# finde den User, der user10 am ähnlichsten ist
# da der User sich selbst am ähnlichsten ist, nehmen wir den zweiten (bzw. da Python 0-basiert ist, den 1) index
closest_user = user_distances[user_id].sort_values().index[1]
print('Der {} ähnlichste User ist {}.'.format(user_id, closest_user))
user_data[['title', 'cluster', user_id, 'user{}'.format(closest_user)]]

Der user10 ähnlichste User ist 2.

                          title  cluster  user10  user2
0            Mad Max: Fury Road        1       2      1
1            Fast and Furious 7        3       5      1
2                    Fight Club        2       1      3
3               The Dark Knight        3       0      1
4                   Vanilla Sky        1       0      3
5          Star Wars Episode IV        1       5      2
6                         Rocky        1       4      5
7                  Pretty Woman        0       1      2
8              Django Unchained        1       1      2
9                 Almost Famous        0       5      5
10           Back to the Future        1       0      1
11                     Clueless        0       3      3
12             The Big Lebowski        2       5      5
13     My Big Fat Greek Wedding        0       2      2
14          Saving Private Ryan        1       3      2
15                    Kill Bill        3       3      5
16      Guardians of the Galaxy        1       3      0
17                      Titanic        0       2      4
18                     Deadpool        1       4      5
19  Ten Things I Hate About You        0       0      1
20        Bridget Jones's Diary        0       1      2
21                     Twilight        0       2      5
22                 Wonder Woman        1       3      1
23                   La La Land        0       4      4

Jetzt kann man sich ganz viele Möglichkeiten denken, wie wir daraus eine Vorhersage machen können.
Das zu implementieren würde zu lange dauern, aber wir können darüber distkutieren!