In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [9]:
user_data = pd.read_csv('workshop_users.csv')

In [10]:
print(user_data.columns)

Index(['Unnamed: 0', 'title', 'user0', 'user1', 'user2', 'user3', 'user4',
       'user5', 'user6', 'user7', 'user8', 'user9', 'user10', 'user11',
       'user12', 'user13', 'user14', 'user15', 'user16', 'user17', 'user18',
       'user19'],
      dtype='object')

In [12]:
print(user_data['title'])

0              Mad Max: Fury Road
1              Fast and Furious 7
2                      Fight Club
3                 The Dark Knight
4                     Vanilla Sky
5            Star Wars Episode IV
6                           Rocky
7                    Pretty Woman
8                Django Unchained
9                   Almost Famous
10             Back to the Future
11                       Clueless
12               The Big Lebowski
13       My Big Fat Greek Wedding
14            Saving Private Ryan
15                      Kill Bill
16        Guardians of the Galaxy
17                        Titanic
18                       Deadpool
19    Ten Things I Hate About You
20          Bridget Jones's Diary
21                       Twilight
22                   Wonder Woman
23                     La La Land
Name: title, dtype: object

In [13]:
user_data.head()

,Unnamed: 0,title,user0,user1,user2,user3,user4,user5,user6,user7,...,user10,user11,user12,user13,user14,user15,user16,user17,user18,user19
0,0,Mad Max: Fury Road,2,4,1,3,1,3,1,5,...,2,5,0,2,4,1,3,2,5,0
1,1,Fast and Furious 7,3,1,1,5,5,4,3,0,...,5,5,0,0,4,5,3,0,1,2
2,2,Fight Club,4,5,3,0,5,5,4,2,...,1,1,0,5,2,0,2,3,0,5
3,3,The Dark Knight,2,0,1,2,3,0,5,4,...,0,4,5,4,1,5,4,5,1,0
4,4,Vanilla Sky,4,5,3,2,2,1,5,2,...,0,5,2,3,5,5,1,4,4,4

In [14]:
# liste aller Spalten, die im Namen 'user' enthalten:
users = [i for i in user_data.columns if 'user' in i]
n_users = len(users)

# wir nehmen uns nur den Teil des Frames, der die Bewertungen der User enthält
users_matrix = user_data[users]

Wir wollen paarweise den Abstand zwischen Usern berechnen. Den Abstand speichern wir dann in ein Pandas Dataframe.

In [15]:
# für die Streber: Schreibt eure eigene Funktion, die den Abstand zwischen zwei Usern berechnet
def pairwise_distance(u1, u2):
    # ...
    return distance
# jetzt benutzt diese funktion, um den paarweise abstand zwischen den Usern zu berechnen 
# und in einer Matrix (oder auch gleich in einem DataFrame) zu speichern

In [16]:
# für die anderen: Wir können auch eine eingebaute Funktion benutzen
from sklearn.metrics.pairwise import euclidean_distances
# wir müssen die Matrix transponieren, weil die Funktion den Abstand zwischen den Zeilen berechnet, unsere User aber
# als Spalten gespeichert sind
distances = euclidean_distances(users_matrix.T)

In [20]:
# distances ist jetzt eine Matrix, die wir wieder in ein DataFrame packen, um Zeilen- und Spaltenbeschriftungen
# zu haben
distances = pd.DataFrame(distances, index=users, columns=users)
distances

,user0,user1,user2,user3,user4,user5,user6,user7,user8,user9,user10,user11,user12,user13,user14,user15,user16,user17,user18,user19
user0,0.000000,11.180340,12.409674,11.874342,11.000000,12.569805,12.041595,11.045361,13.038405,10.677078,11.747340,11.618950,10.198039,10.677078,8.366600,10.908712,9.055385,10.488088,11.618950,11.532563
user1,11.180340,0.000000,9.327379,13.266499,13.341664,9.110434,12.000000,11.789826,13.379088,10.908712,12.124356,12.165525,11.789826,13.076697,11.874342,14.491377,11.958261,12.288206,11.916375,9.486833
user2,12.409674,9.327379,0.000000,11.090537,13.076697,9.591663,10.535654,12.165525,12.165525,10.488088,8.831761,13.453624,10.295630,10.677078,12.727922,13.453624,13.038405,11.313708,9.848858,9.949874
user3,11.874342,13.266499,11.090537,0.000000,11.916375,13.820275,14.071247,13.000000,13.674794,13.379088,12.041595,11.045361,12.288206,13.892444,12.369317,14.282857,11.789826,11.532563,11.045361,12.884099
user4,11.000000,13.341664,13.076697,11.916375,0.000000,11.532563,12.727922,13.304135,12.449900,11.445523,12.206556,12.247449,13.892444,12.688578,12.529964,14.764823,10.148892,10.816654,14.352700,11.916375
user5,12.569805,9.110434,9.591663,13.820275,11.532563,0.000000,11.618950,13.114877,14.000000,10.954451,10.099505,13.379088,12.165525,11.747340,11.916375,14.662878,12.489996,11.575837,13.527749,10.723805
user6,12.041595,12.000000,10.535654,14.071247,12.727922,11.618950,0.000000,12.922848,11.357817,11.000000,11.874342,11.313708,10.535654,9.539392,12.369317,10.862780,11.090537,11.000000,12.165525,10.295630
user7,11.045361,11.789826,12.165525,13.000000,13.304135,13.114877,12.922848,0.000000,10.392305,10.770330,13.490738,10.630146,11.401754,11.575837,12.083046,12.529964,10.862780,10.583005,9.000000,12.288206
user8,13.038405,13.379088,12.165525,13.674794,12.449900,14.000000,11.357817,10.392305,0.000000,10.583005,12.165525,11.000000,12.000000,11.489125,12.165525,11.090537,12.328828,11.313708,11.090537,9.848858
user9,10.677078,10.908712,10.488088,13.379088,11.445523,10.954451,11.000000,10.770330,10.583005,0.000000,9.486833,11.704700,11.575837,12.083046,8.485281,10.630146,12.000000,12.328828,10.344080,11.704700
user10,11.747340,12.124356,8.831761,12.041595,12.206556,10.099505,11.874342,13.490738,12.165525,9.486833,0.000000,12.688578,11.661904,11.916375,11.832160,11.958261,12.806248,13.190906,10.535654,11.704700
user11,11.618950,12.165525,13.453624,11.045361,12.247449,13.379088,11.313708,10.630146,11.000000,11.704700,12.688578,0.000000,12.922848,13.304135,12.449900,10.000000,11.532563,11.532563,10.677078,12.247449
user12,10.198039,11.789826,10.295630,12.288206,13.892444,12.165525,10.535654,11.401754,12.000000,11.575837,11.661904,12.922848,0.000000,9.695360,11.224972,11.704700,10.862780,9.695360,11.958261,11.532563
user13,10.677078,13.076697,10.677078,13.892444,12.688578,11.747340,9.539392,11.575837,11.489125,12.083046,11.916375,13.304135,9.695360,0.000000,11.575837,12.609520,13.114877,8.944272,12.041595,11.269428
user14,8.366600,11.874342,12.727922,12.369317,12.529964,11.916375,12.369317,12.083046,12.165525,8.485281,11.832160,12.449900,11.224972,11.575837,0.000000,10.816654,12.165525,12.489996,10.535654,10.344080
user15,10.908712,14.491377,13.453624,14.282857,14.764823,14.662878,10.862780,12.529964,11.090537,10.630146,11.958261,10.000000,11.704700,12.609520,10.816654,0.000000,13.601471,12.688578,11.135529,11.224972
user16,9.055385,11.958261,13.038405,11.789826,10.148892,12.489996,11.090537,10.862780,12.328828,12.000000,12.806248,11.532563,10.862780,13.114877,12.165525,13.601471,0.000000,11.489125,12.609520,12.369317
user17,10.488088,12.288206,11.313708,11.532563,10.816654,11.575837,11.000000,10.583005,11.313708,12.328828,13.190906,11.532563,9.695360,8.944272,12.489996,12.688578,11.489125,0.000000,12.845233,11.704700
user18,11.618950,11.916375,9.848858,11.045361,14.352700,13.527749,12.165525,9.000000,11.090537,10.344080,10.535654,10.677078,11.958261,12.041595,10.535654,11.135529,12.609520,12.845233,0.000000,10.677078
user19,11.532563,9.486833,9.949874,12.884099,11.916375,10.723805,10.295630,12.288206,9.848858,11.704700,11.704700,12.247449,11.532563,11.269428,10.344080,11.224972,12.369317,11.704700,10.677078,0.000000