In [1]:
%matplotlib inline
%load_ext autoreload
%autoreload 2

In [12]:
import os
import sys
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
pd.set_option('precision',2)

from sklearn.metrics.pairwise import cosine_similarity

In [3]:
data_path = '../ml-latest'
all_files = [i for i in os.listdir(data_path) if i.endswith('.csv')]
print(all_files)

['genome-tags.csv', 'movies.csv', 'genome-scores.csv', 'tags.csv', 'ratings.csv', 'movies_clean.csv', 'links.csv']

In [4]:
def get_data(fn):
    df = pd.read_csv(os.path.join(data_path, '{}.csv'.format(fn)))
    print('{} total: {} rows.'.format(fn, len(df)))
    return df

In [8]:
movies = get_data('movies_clean')
movies = movies[[i for i in movies.columns if i not in ['Unnamed: 0', 'index']]]
movies.head()

movies_clean total: 11076 rows.

,movieId,title,genres,year,Western,Sci-Fi,War,Animation,Children,Romance,...,world politics,world war i,world war ii,writer's life,writers,writing,wuxia,wwii,zombie,zombies
0,2,jumanji,[0 0 0 0 1 0 0 1 0 0 0 0 0 0 0 0 1 0 0 0],1995,0,0,0,0,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,3,grumpier old men,[0 0 0 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0],1995,0,0,0,0,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4,waiting to exhale,[0 0 0 0 0 1 0 0 0 0 1 0 0 0 0 0 0 0 0 1],1995,0,0,0,0,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,5,father of the bride part ii,[0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0],1995,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,6,heat,[0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 1 0 0 0 0],1995,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [9]:
n_movies = len(movies)

In [10]:
tags = [i for i in movies.columns if i not in ['Unnamed: 0', 'level_0', 'index', 'movieId', 'title', 'genres', 'year', 'total_ratings']]

In [ ]:
# generate movie similarity matrix using cosine distance
similarity = pd.DataFrame(cosine_similarity(movies[tags].as_matrix()))
similarity.columns = movies['movieId'].values
similarity.index = movies['movieId'].values

In [ ]:
movies[movies.title=='fight club'].movieId

In [ ]:
movies.title.sample(5)

In [ ]:
similarity.loc[3114].sort_values(ascending=False).head(5)

In [ ]:
index_to_id[3114]

In [ ]:
movies[movies.title.isin([i for i in movies.title if 'toy story' in i])]

In [ ]:
for m in similars.index:
    print(movies[movies.movieId==m][['title', 'movieId']])

In [ ]:
movies[movies.movieId==3639]

In [ ]:
def get_similar_movie_by_title(movie_title):
    if movie_title in movies.title.values:
        movie_id = movies[movies.title == movie_title].movieId.values[0]
        get_similar_movie(movie_id)
    else:
        print('Could not find {} in movie titles.')

In [ ]:
get_similar_movie_by_title(movies.title.sample(1).iloc[0])

In [ ]:
pairwise_distances(movies.iloc[25][tags].as_matrix(), movies.iloc[34][tags].as_matrix(), 'cosine')